/* CONTENEDOR BANNER */
.card {
  background-color: var(--color-banner);
  border: none;
  border-bottom: solid 2px var(--color-bordes);
  border-radius: 0 ;
}

/* TITULO BANNER */
h1 {
  color: var(--color-detalles);
}

/* NOMBRE BANNER */
h2 {
  color: var(--color-detalles);
}

/* LINEA DIVISORIA */
.intro-divider {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-detalles);
}

/* ICONOS DEL BANNER */
.bx{
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: var(--color-detalles);
}

.bx:hover{
  font-size: 35px;
}

/* CURSOR ICONO */
.dropdown-item{
  cursor: pointer;
}

.dropdown-item:hover{
  cursor: pointer;
}