.btn:hover{
    background-color: var(--color-principal);
}

nav {
    background-color: var(--color-principal);
  }

  .nombre{
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
  }