<nav class="navbar navbar-expand-lg">
  <div class="container d-flex flex-column align-items-center">
    <div class="d-flex iconos-container">
      <div class="iconos1">
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
      </div>
      <div class="separador"></div>
      <div class="iconos2">
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
        <a href="   "> <i class='icono bx bxl-github'> </i> </a>
      </div>
    </div>
    <div class="navegacion mt-3">
      <ul>
        <li> <a href="  "></a> </li>
        <li> <a href="  "></a> </li>
      </ul>
    </div>
    <div class="boton mt-3">
      <p>Copyright &copy;2023 | Designed by <span class="designed"> kiri y mati </span> </p>
    </div>
  </div>
</nav>
