/* FOOTER CONTENEDOR */
footer {
  margin-top:auto;
  bottom: 0;
  width: 100%;
  background-color: #D1C3E2;

}

/* BORDE DEL FOOTER */
.navbar{
  border-style:none !important;
  border-width: 0 !important;
  border-radius:0 !important;
}

/* ICONOS DEL FOOTER */
.icono {
  margin: 0 5px;
  font-size: 30px;
}

