
  <div class="container-fluid">
    <div class="iconos-posicion">
        <a href=""> <i class='bx bxl-github'> </i> </a>
        <a href=""> <i class='bx bxl-github'> </i> </a>
        <a href=""> <i class='bx bxl-github'> </i> </a>
        <a href=""> <i class='bx bxl-github'> </i> </a>
    </div>
    <div class="navegacion">
        <ul>
            <li> <a href=""></a> </li>
            <li> <a href=""></a> </li>
            <li> <a href=""></a> </li>
            <li> <a href=""></a> </li>
        </ul>
    </div>
    <div class="boton">
        <p>Copyright &copy;2023; Diseñado por <span class="designed">  kiri y mati </span> </p>
    </div>
</div>
