

<app-nav></app-nav>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <app-tarjetas (loaded)="onComponentLoaded()"></app-tarjetas>
        </div>
        <div class="col-lg-4">
            <div class="mb-4">
                <app-notas></app-notas>
            </div>
            <div class="mb-4">
                <app-tareas></app-tareas>
            </div>
            <div class="mb-4">
                <app-calendario></app-calendario>
            </div>
        </div>
    </div>
</div>