

<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <app-tarjetas></app-tarjetas>
            <a href="" target="_blank"><img *ngIf="darkModeService.isDarkMode" src="../../../assets/argdeveloper-b.png" alt=""></a>
            <a href="" target="_blank"><img *ngIf="!darkModeService.isDarkMode" src="../../../assets/argdeveloper-n.png" alt=""></a>
        </div>
        <div class="col-lg-4">
            <div class="mb-4">
                <app-notas></app-notas>
            </div>
            <div class="mb-4">
                <app-tareas></app-tareas>
            </div>
            <div class="mb-4">
                <app-calendario></app-calendario>
            </div>
        </div>
    </div>
</div>