@import 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/sketchy/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/*                       ESTILO PREDETERMINADOS HTML Y CSS                 */
/* LINKS */
.links {
  text-decoration: none;

}

/*                       FONDO DE PANTALLA                 */
/* MODO CLARO */
body {
  background: #ffffff;
}

/* MODO OSCURO */
body.dark-mode {
  background: #232526;
}

/*                       COLORES PREDETERMINADOS                 */
/* COLORES DEFAULT */
:root {
  /* BANNER */
  --color-banner: #89CFF0;
  /* TARJETAS */
  --color-tarjetas: #B2E2F2;
  --color-tarjetas-text: #000;
  --color-tarjetas-iconos: #000;
  /* NOTA */
  --color-nota: #5DADEC;
  --color-nota-circulo: #000;
  --color-nota-icono: #000;
  --color-nota-text: #000;
  
  --color-detalles: #000;
  --color-bordes: #D6EAF8;
  --color-calendario: #5DADEC;
  --color-calendario-btn: #7fc6fc;
  --color-calendario-dia: #7fc6fc;
  --color-calendario-evento: #7fc6fc;
}

/* COLORES TONO ROSA */
.rosa,
.rosaBackground {
  /* BANNER */
  --color-banner: #FF87AB;
  /* TARJETAS */
  --color-tarjetas: #FFC3D7;
  --color-tarjetas-text: #000;
  --color-tarjetas-iconos: #000;
  /* NOTA */
  --color-nota: #E45B78;
  --color-nota-circulo: #232526;
  --color-nota-icono: #232526;
  --color-nota-text: #232526;

  --color-detalles: #000;
  --color-bordes: #000;
  --color-calendario: #E45B78;
  --color-calendario-btn: #e39fb6;
  --color-calendario-dia: #e39fb6;
  --color-calendario-evento: #e39fb6;
}

/* COLORES TONO VERDE */
.verde,
.verdeBackground {
  /* BANNER */
  --color-banner: #1A472A;
  /* TARJETAS */
  --color-tarjetas: #3c8c57;
  --color-tarjetas-text: #EEEEEE;
  --color-tarjetas-iconos: #EEEEEE;
  /* NOTA */
  --color-nota: #AAAAAA;
  --color-nota-circulo: #000;
  --color-nota-icono: #000;
  --color-nota-text: #000;

  --color-detalles: #EEEEEE;
  --color-bordes: #000000;
  --color-calendario: #3c8c57;
  --color-calendario-btn: #AAAAAA;
  --color-calendario-dia: #AAAAAA;
  --color-calendario-evento: #AAAAAA;
}

/* COLORES TONO AZUL */
.azul,
.azulBackground {
   /* BANNER */
  --color-banner: #264653;
  /* TARJETAS */
  --color-tarjetas: #6a84a5;
  --color-tarjetas-text: #ffffff;
  --color-tarjetas-iconos: #ffffff;
  /* NOTA */
  --color-nota: #4b5d74;
  --color-nota-circulo: #fff;
  --color-nota-icono: #fff;
  --color-nota-text: #fff;

  --color-detalles: #ffffff;
  --color-bordes: #1D3557;
  --color-calendario: #6a84a5;
  --color-calendario-btn: #4b5d74;
  --color-calendario-dia: #4b5d74;
  --color-calendario-evento: #4b5d74;
}

/* COLORES TONO AZUL */
.violeta,
.violetaBackground {
  /* BANNER 6A4C93 F2E1F1*/
  --color-banner: #804c93;
  /* TARJETAS */
  --color-tarjetas: #C996CC;
  --color-tarjetas-text: #000;
  --color-tarjetas-iconos: #000;
  /* NOTA */
  --color-nota: #9D7BB5;
  --color-nota-circulo: #000;
  --color-nota-icono: #000;
  --color-nota-text: #000;

  --color-detalles: #000;
  --color-bordes: #503285;
  --color-calendario: #C996CC;
  --color-calendario-btn: #9D7BB5;
  --color-calendario-dia: #9D7BB5;
  --color-calendario-evento: #9D7BB5;
}


/*                       MODO OSCURO                */
/* TITULO */
.dark-mode-titulo {
  color: #fff;
}

/* TEXTO */
.dark-mode-text {
  color: #bcbcbc;
}

/* TARJETAS */
.dark-mode-tarjetas {
  background-color: #7d787b;
}

/* MODAL */
.dark-mode-modal {
  background-color: #6e5a72;
}

/* INPUT */
.dark-mode-input {
  background-color: #232526;
  color: #FFF;
}

/* INPUT MODAL */
.dark-mode-input-modal {
  background-color: #b28da3;
}


/* CHECK BORDE */
.dark-mode-check {
  --mdc-checkbox-unselected-hover-icon-color: #afafaf;
  /* HOVER */
  --mdc-checkbox-unselected-icon-color: #ffffff;
  /* ICONO */
  --mdc-checkbox-unselected-pressed-icon-color: #696969;
  /* ICONO PRESIONAR */
}

/* CALENDARIO FONDO */
.mat-calendar,
.mat-calendar-table-header th,
.mat-calendar-body-label,
.mat-calendar-body-cell::before,
.mat-calendar-body-cell::after,
.mat-calendar-body-cell-container {
  background-color: var(--color-banner);
}

/* CALENDARIO TEXTO */
.mat-calendar-body-cell-content,
.mat-focus-indicator,
th,
td,
button,
.mat-calendar-arrow {
  color: var(--color-detalles) !important;
  fill: var(--color-detalles) !important;

}

/* CALENDARIO SELECCIONAR */
.mat-calendar-body-selected,
.mat-calendar-table-header-divider::after {
  background-color: var(--color-nota) !important;
}

/* BORDE SELECCIONADO CALENDARIO */
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: var(--color-detalles) !important;
}

/*            LOGO PINKY           */
.pinky {
  height: 30px;
  width: 30px;
}

