@import 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/sketchy/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/*                       ESTILO PREDETERMINADOS HTML Y CSS                 */
/* LINKS */
.links {
  text-decoration: none;

}

/*                       FONDO DE PANTALLA                 */
/* MODO CLARO */
body {
  background: #ffffff;
}

/* MODO OSCURO */
body.dark-mode {
  background: #232526;
}

/*                       COLORES PREDETERMINADOS                 */
/* COLORES DEFAULT */
:root {
  --color-banner: #89CFF0;
  /* Celeste */
  --color-tarjetas: #B2E2F2;
  /* Celeste Claro */
  --color-nota: #5DADEC;
  /* Celeste Intenso */
  --color-detalles: #000;
  /* Blanco */
  --color-bordes: #D6EAF8;
  /* Celeste Muy Claro */
}

/* COLORES TONO ROSA */
.rosa,
.rosaBackground {
  --color-banner: #FF87AB;
  --color-tarjetas: #FFC3D7;
  --color-nota: #E45B78;
  --color-detalles: #000;
  --color-bordes: #000;
}

/* COLORES TONO VERDE */
.verde,
.verdeBackground {
  --color-banner: #1A472A;
  --color-tarjetas: #3c8c57;
  --color-nota: #AAAAAA;
  --color-detalles: #EEEEEE;
  --color-bordes: #000000;
}

/* COLORES TONO AZUL */
.azul,
.azulBackground {
  --color-banner: #264653;
  --color-tarjetas: #6a84a5;
  --color-nota: #4b5d74;
  --color-detalles: #ffffff;
  --color-bordes: #1D3557;
}

/* COLORES TONO AZUL */
.violeta,
.violetaBackground {
  --color-banner: #6A4C93;
  --color-tarjetas: #C996CC;
  --color-nota: #9D7BB5;
  --color-detalles: #F2E1F1;
  --color-bordes: #503285;
}


/*                       MODO OSCURO                */
/* TITULO */
.dark-mode-titulo {
  color: #fff;
}

/* TEXTO */
.dark-mode-text {
  color: #bcbcbc;
}

/* TARJETAS */
.dark-mode-tarjetas {
  background-color: #7d787b;
}

/* MODAL */
.dark-mode-modal {
  background-color: #6e5a72;
}

/* INPUT */
.dark-mode-input {
  background-color: #232526;
  color: #FFF;
}

/* INPUT MODAL */
.dark-mode-input-modal {
  background-color: #b28da3;
}


/* CHECK BORDE */
.dark-mode-check {
  --mdc-checkbox-unselected-hover-icon-color: #afafaf;
  /* HOVER */
  --mdc-checkbox-unselected-icon-color: #ffffff;
  /* ICONO */
  --mdc-checkbox-unselected-pressed-icon-color: #696969;
  /* ICONO PRESIONAR */
}

/* CALENDARIO FONDO */
.mat-calendar,
.mat-calendar-table-header th,
.mat-calendar-body-label,
.mat-calendar-body-cell::before,
.mat-calendar-body-cell::after,
.mat-calendar-body-cell-container {
  background-color: var(--color-banner);
}

/* CALENDARIO TEXTO */
.mat-calendar-body-cell-content,
.mat-focus-indicator,
th,
td,
button,
.mat-calendar-arrow {
  color: var(--color-detalles) !important;
  fill: var(--color-detalles) !important;

}

/* CALENDARIO SELECCIONAR */
.mat-calendar-body-selected,
.mat-calendar-table-header-divider::after {
  background-color: var(--color-nota) !important;
}

/* BORDE SELECCIONADO CALENDARIO */
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: var(--color-detalles) !important;
}

/*            LOGO PINKY           */
.pinky {
  height: 30px;
  width: 30px;
}

