@import 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/sketchy/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
  background: #ECE9E6;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  
  background: linear-gradient(to top, #FFFFFF, #ECE9E6); 
}

:root {
  --color-principal: #42999B;
  --color-secundario: #83C5BE;
}


body.dark-mode{
  background: #232526;  
  background: -webkit-linear-gradient(to top, #414345, #232526);
  background: linear-gradient(to top, #414345, #232526); 
}

.links{
    text-decoration: none;
    
}

.dark-mode-modal{
  background-color: #6e5a72;
}

.dark-mode-titulo {
    color: #fff;
  }
  
.dark-mode-text {
    color: #bcbcbc;
  }

.dark-mode-tarjetas{
  background-color: #7d787b;
}

.dark-mode-input{
  background-color: #b28da3;
}


.rojo {
  background-color: red !important;
}

.verde {
  background-color: green !important;
}

.azul {
  background-color: blue !important;
}


