/*              CONTENEDOR DE SIGNIN            */
/* BODY DEL SIGNIN */
.body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background: #CC95C0;  
 	background: -webkit-linear-gradient(to left, #7AA1D2, #c8cbcc, #CC95C0); 
  	background: linear-gradient(to bottom, #7AA1D2, #c8cbcc, #CC95C0);
}

/*  */
.content{
	flex: 1;
}

/*              BANNER            */
/* ANCHO DEL BANNER */
.banner {
	position: relative;
	z-index: 1;
	margin: 80px auto;
	width: 330px;
}

/* FORMA DEL BANNER */
.banner .line {
	margin: 0 0 10px;
	width: 100%;
	height: 78px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 78px;
	transform: skew(0, -15deg);
}

/* EFECTO DE ATRAS DEL BANNER */
.banner .line:after,
.banner .line:first-child:before {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1;
	display: block;
	width: 330px;
	height: 78px;
	border-radius: 4px;
	background: rgba(180,180,180,0.8);
	content: '';
	transform: skew(0, 15deg);
}

/* PARTE DE ARRIBA SOBRESALIENTE DEL BANNER */
.banner .line:first-child:before {
	top: -10px;
	right: 0;
	left: auto;
}

/* SOMBREADO DEL BANNER Y FORMA */
.banner .line:first-child:before,
.banner .line:last-child:after {
	width: 0;
	height: 0;
	border-width: 38px;
	border-style: solid;
	border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
	background: transparent;
}

/* PARTE DE ABAJO SOBRESALIENTE DEL BANNER */
.banner .line:last-child:after {
	top: 12px;
	border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

/* PAPEL PRINCIPAL DEL BANNER */
.banner span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: rgba(255,255,255,0.9);
	color: #3a3a3a;
	text-shadow: 1px 1px 0 #444;
}

/* TAMAÑO Y CURSOR DEL FOCO */
.bx-bulb{
	cursor: pointer;
	font-size: 25px;
}


/*           INICIAR SESIÓN                  */
/* ICONOS DE USUARIO Y CONTRASEÑA */
.icono{
    margin-right: 20px;
    margin-top: 3px;
    background-color: #a9abf8;
}

/* COLOR DE LOS INPUTS */
input {
    background-color: #efefff;
}

/* ESTILOS DE LOS INPUTS */
.form-controll{
    background-color: #efefff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 5px;
    border: solid 2px #000;
}

/* TAMAÑO DEL INPUT */
.form-controll input{
	display: inline;
    border: none;
    border-radius: 2px;
    padding: 10px;
    z-index: 1;
    outline: none;
	
}

/* ENCERRAR EL OJO ADENTRO DEL INPUT */
.form-controll .eyes{
	width: 25px;
    height: 25px;
    border-radius: 200px;
    display: inline-flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* BOTON DE INGRESAR */
.btn{
	background-color: #a9baf8;
	border: solid 2px #000;
}










.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	-webkit-animation-name: fly-cycle;
			animation-name: fly-cycle;
	-webkit-animation-timing-function: steps(10);
			animation-timing-function: steps(10);
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
  }
  .bird--one {
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  .bird--two {
	-webkit-animation-duration: 0.9s;
			animation-duration: 0.9s;
	-webkit-animation-delay: -0.75s;
			animation-delay: -0.75s;
  }
  .bird--three {
	-webkit-animation-duration: 1.25s;
			animation-duration: 1.25s;
	-webkit-animation-delay: -0.25s;
			animation-delay: -0.25s;
  }
  .bird--four {
	-webkit-animation-duration: 1.1s;
			animation-duration: 1.1s;
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  
  .bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	-webkit-transform: scale(0) translateX(-10vw);
			transform: scale(0) translateX(-10vw);
	will-change: transform;
	-webkit-animation-name: fly-right-one;
			animation-name: fly-right-one;
	-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
  }
  .bird-container--one {
	-webkit-animation-duration: 15s;
			animation-duration: 15s;
	-webkit-animation-delay: 0;
			animation-delay: 0;
  }
  .bird-container--two {
	-webkit-animation-duration: 16s;
			animation-duration: 16s;
	-webkit-animation-delay: 1s;
			animation-delay: 1s;
  }
  .bird-container--three {
	-webkit-animation-duration: 14.6s;
			animation-duration: 14.6s;
	-webkit-animation-delay: 9.5s;
			animation-delay: 9.5s;
  }
  .bird-container--four {
	-webkit-animation-duration: 16s;
			animation-duration: 16s;
	-webkit-animation-delay: 10.25s;
			animation-delay: 10.25s;
  }
  
  @-webkit-keyframes fly-cycle {
	100% {
	  background-position: -900px 0;
	}
  }
  
  @keyframes fly-cycle {
	100% {
	  background-position: -900px 0;
	}
  }
  @-webkit-keyframes fly-right-one {
	0% {
	  -webkit-transform: scale(0.3) translateX(-10vw);
			  transform: scale(0.3) translateX(-10vw);
	}
	10% {
	  -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
			  transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	20% {
	  -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
			  transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	30% {
	  -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
			  transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	40% {
	  -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
			  transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	50% {
	  -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
			  transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	60% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
			  transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	100% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
			  transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
  }
  @keyframes fly-right-one {
	0% {
	  -webkit-transform: scale(0.3) translateX(-10vw);
			  transform: scale(0.3) translateX(-10vw);
	}
	10% {
	  -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
			  transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	20% {
	  -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
			  transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	30% {
	  -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
			  transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	40% {
	  -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
			  transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	50% {
	  -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
			  transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	60% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
			  transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	100% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
			  transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
  }
  @-webkit-keyframes fly-right-two {
	0% {
	  -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
			  transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	10% {
	  -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
			  transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	20% {
	  -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
			  transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	30% {
	  -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
			  transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	40% {
	  -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
			  transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	50% {
	  -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
			  transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	51% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
			  transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	100% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
			  transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
  }
  @keyframes fly-right-two {
	0% {
	  -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
			  transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	10% {
	  -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
			  transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	20% {
	  -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
			  transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	30% {
	  -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
			  transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	40% {
	  -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
			  transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	50% {
	  -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
			  transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	51% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
			  transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	100% {
	  -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
			  transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
  }