.banner{
    max-width:30%;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto; 
}


.text-overlay{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titulo{
    font-size: 50px;
}

.parrafo{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 30px;
}

.bx-bulb{
    cursor: pointer;
    font-size: 25px;
}

.icono{
    margin-right: 20px;
    margin-top: 3px;
    background-color: #CCA9F8;
    
}

input {
    background-color: #F7EFFF;
}

.btn{
    background-color: #CCA9F8;
    border: solid 2px #000;
}


.form-controll{
    background-color: #F7EFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 5px;
    border: solid 2px #000;
}
.form-controll input{
    display: inline;
    border: none;
    border-radius: 2px;
    padding: 10px;
    z-index: 1;
    outline: none;

}
.form-controll .eyes{
    width: 25px;
    height: 25px;
    border-radius: 200px;
    display: inline-flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
