<div class='demo-app' [ngClass]="color">

  <div class='demo-app-sidebar '  [ngClass]="color">
    <div class='demo-app-sidebar-section'>
      <div class="navbar-nav">
        <li class="nav-item botones">
          <a routerLink="/private"><i class='bx bx-log-out-circle'></i>Volver</a>
        </li>
      </div>

      <div class="navbar-nav">
        <li class="nav-item botones" (click)="toggleDarkMode()">
          <a><i class='bx bx-bulb' [class.dark-mode]="darkModeService.isDarkMode"></i>Luces</a>
        </li>
      </div>

      <div class="navbar-nav">
        <li class="nav-item botones">
          <a><mat-checkbox [checked]='calendarOptions().weekends' (change)='handleWeekendsToggle()'/>Alternar fines de
            semana</a>
        </li>
      </div>
    </div>

    <div class='demo-app-sidebar-section'>
      <h2>Todos los eventos ({{currentEvents.length}})</h2>
      <ul>
        <li *ngFor='let event of currentEvents()' >
          <p>{{event.startStr}}</p>
          <p>{{event.title}}</p>
        </li>
      </ul>
    </div>

    <div class='demo-app-sidebar-section'>
      <h2>Instrucciones</h2>
      <ul>
        <li>Seleccione fechas y se le pedirá que cree un nuevo evento.</li>
        <li>Arrastrar, soltar y cambiar el tamaño de eventos</li>
        <li>Haga clic en un evento para eliminarlo</li>
      </ul>
    </div>
  </div>

  <div class='demo-app-main' [class.dark-mode-text]="darkModeService.isDarkMode">
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>

</div>