.formato-card{
    background-color: #cabbdd57;
}

.icono {
    font-size: 24px;
}

.titulo {
    margin-left: 30px;
}

.descripcion {
    margin-left: 50px;
    font-size: 20px;
}

.iconoMover {
    font-size: 20px;
    cursor: grab;
}

.card{
    cursor: pointer;
}