/* COLOR DE LAS TARJETAS */
.formato-card {
    background-color: var(--color-tarjetas);
}

/* ESTILOS DEL TITULO */
.titulo {
    margin-left: 30px;
    overflow: hidden;
    color: var(--color-tarjetas-text);
}

/* ESTILOS DE LA DESCRIPCION */
.descripcion {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    overflow: hidden;
    color: var(--color-tarjetas-text);
}

/* ESTILOS DEL ICONO MOVER */
.iconoMover {
    font-size: 20px;
    cursor: grab;
}
.iconoMover:hover{
    font-size: 24px;
    margin-right: 12px;
}

/* BORDE Y CURSOR DE LAS TARJETAS */
.card {
    cursor: pointer;
    border: solid 2px var(--color-bordes);
}

.card:hover {
    transform: scale(1.01);
}

/* ESTILOS DE LOS ICONOS */
.icono {
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-tarjetas-iconos);
}

.icono:hover{
    font-size: 24px;
    margin-right: 12px;
}

/* TAMAÑO DEL ICONO AGREGAR */
.icono-agregar {
    font-size: 22px;
    margin-right: 10px;
}

.icono-agregar:hover {
    font-size: 24px;
    margin-right: 12px;
}

/*           MODAL AGREGAR, EDITAR, ELIMINAR           */
/* COLOR PRINCIPAL */
.modal-content {
    background-color: var(--color-modal);
    color: var(--color-modal-text);
}

/* COLOR DE INPUT ITUTLO */
.input-titulo {
    background-color: var(--color-modal-input);
    color: var(--color-modal-text)
}

/* COLOR DE TEXTAREA DESCRIPCION */
.textarea-descripcion {
    background-color: var(--color-modal-input);
    color: var(--color-modal-text)
}

.btn-secondary {
    background-color: var(--color-modal-cerrar);
    color: var(--color-modal-text) !important;
}

.btn-primary {
    background-color: var(--color-modal-guardar);
    color: var(--color-modal-text) !important;
}