<h1 [class.dark-mode-text]="darkModeService.isDarkMode">Tarjetas</h1>
<div>
  <div cdkDropList (cdkDropListDropped)="drop($event)" >
    <div class="card formato-card mb-3" [ngClass]="color" *ngFor="let tarjeta of tarjetas" (click)="toggleTarjeta(tarjeta)" cdkDrag >
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="titulo">{{tarjeta.titulo}}</h1>
        <div *ngIf="tarjeta.expandida">
          <i class='bx bx-edit-alt icono' data-bs-toggle="modal" data-bs-target="#modalEditar"
            (click)="edit(tarjeta)" ></i>
          <i class='bx bx-trash icono' data-bs-toggle="modal" data-bs-target="#modalEliminar"
             (click)="delete(tarjeta)"></i>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p class="descripcion">{{tarjeta.descripcion}}</p>
        <div (click)="activarModoArrastrar(tarjeta)" *ngIf="tarjeta.expandida">
          <i class='bx bx-move-vertical iconoMover icono'></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <i class='icono-agregar bx bx-add-to-queue mb-3' data-bs-toggle="modal" data-bs-target="#exampleModal"
      [class.dark-mode-text]="darkModeService.isDarkMode" style="cursor: pointer;"></i>
  </div>
</div>


<!-- Modal agregar -->
<div class="modal fade" id="exampleModal" [ngClass]="color" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" >Agregar
          Tarjeta Nueva</h1>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control input-titulo" id="titulo" [(ngModel)]="nuevaTarjeta.titulo" name="titulo"
              >
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control textarea-descripcion" id="descripcion" [(ngModel)]="nuevaTarjeta.descripcion" name="descripcion"
             ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postTarjeta()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal eliminar -->
<div class="modal fade" id="modalEliminar" [ngClass]="color" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está
          seguro de ELIMINAR esta tarjeta?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="eliminarTarjeta()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal editar -->
<div class="modal fade" id="modalEditar" [ngClass]="color" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar
          tarjeta</h1>
      </div>
      <div class="modal-body">

        <form [formGroup]="formGroup">
          <div class="mb-3">
            <label for="titulo" class="form-label" >Título</label>
            <input type="text" class="form-control input-titulo" id="titulo" formControlName="titulo">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control textarea-descripcion" id="descripcion" formControlName="descripcion"
              ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="editarTarjeta()" data-bs-dismiss="modal">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>