/* COLOR DE LAS TARJETAS */
.formato-card{
    background-color: var(--color-tarjetas);
}

/* ESTILOS DEL TITULO */
.titulo {
    margin-left: 30px;
    overflow: hidden;
    color: var(--color-detalles);
}

/* ESTILOS DE LA DESCRIPCION */
.descripcion {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    overflow: hidden;
    color: var(--color-detalles);
}

/* ESTILOS DEL ICONO MOVER */
.iconoMover {
    font-size: 20px;
    cursor: grab;
}

/* BORDE Y CURSOR DE LAS TARJETAS */
.card{
    cursor: pointer;
    border: solid 2px var(--color-bordes);
}

.card:hover{
    transform: scale(1.01);
}

/* ESTILOS DE LOS ICONOS */
.icono{
    font-size: 20px;
    margin-right: 10px;
    color: var(--color-detalles);
}

/* TAMAÑO DEL ICONO AGREGAR */
.icono-agregar {
    font-size: 24px;
}


/*           MODAL AGREGAR, EDITAR, ELIMINAR           */
/* COLOR PRINCIPAL */
.modal-content{
    background-color: var(--color-banner);
    color: var(--color-detalles);
}

/* COLOR DE INPUT ITUTLO */
.input-titulo{
    background-color: var(--color-tarjetas);
}

/* COLOR DE TEXTAREA DESCRIPCION */
.textarea-descripcion{
    background-color: var(--color-tarjetas);
}

