/*Mat checkbox*/
::ng-deep .mat-mdc-checkbox-touch-target {
  top: 0 !important;
  height: 0 !important;
  left: 0 !important;
  width: 0 !important;
} 

mat-checkbox {
  margin-right: 10px; /* Puedes ajustar este valor según sea necesario */
}

* { box-sizing:border-box; }

/* input*/

input 		{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus { outline:none; }

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* borde abajo palabra span */
.bar {
  position: relative;
  display: inline-block;
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Ajusta el grosor de la línea según tus preferencias */
  background-color: currentColor;  /* Reemplaza con el color que desees */
}

/* botones editar y cancelar*/
.check{
  color: rgb(0, 137, 0);
  font-size: 20px;
}

.cancelar{
  color: rgb(125, 3, 3);
  font-size: 20px;
}

/* Colores del check */
/* verde */
::ng-deep .mat-mdc-checkbox.mat-verde .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~  .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(0, 203, 0);
}

::ng-deep .mat-mdc-checkbox.mat-verde .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(0, 203, 0) !important;
}

/* azul */
::ng-deep .mat-mdc-checkbox.mat-azul .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(46, 49, 255);
}

::ng-deep .mat-mdc-checkbox.mat-azul .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(46, 49, 255) !important;
}

/* rojo */
::ng-deep .mat-mdc-checkbox.mat-rojo .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(235, 0, 0);;
}

::ng-deep .mat-mdc-checkbox.mat-rojo .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(235, 0, 0) !important;
}

/* violeta */
::ng-deep .mat-mdc-checkbox.mat-violeta .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(185, 0, 213);
}

::ng-deep .mat-mdc-checkbox.mat-violeta .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(185, 0, 213) !important;
}

/* naranja */
::ng-deep .mat-mdc-checkbox.mat-naranja .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(250, 146, 0);
}

::ng-deep .mat-mdc-checkbox.mat-naranja .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(250, 146, 0) !important;
}

/* amarillo */
::ng-deep .mat-mdc-checkbox.mat-amarillo .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(238, 218, 0);
}

::ng-deep .mat-mdc-checkbox.mat-amarillo .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(238, 218, 0) !important;
}

/* Celeste */
::ng-deep .mat-mdc-checkbox.mat-celeste .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(0, 210, 225);
}

::ng-deep .mat-mdc-checkbox.mat-celeste .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background:  rgb(0, 210, 225) !important;
}

/* Checkbox active */
::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:active ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:active ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled:active ~ .mdc-checkbox__background {
  background-color: transparent !important;
}