<div *ngFor="let tarea of tareas">
  <mat-checkbox class="mb-3" [class.dark-mode-text]="darkModeService.isDarkMode"></mat-checkbox>
  <mat-card class="group" (click)="editarTarea(tarea)">
    <mat-card-content >
      <span class="bar" *ngIf="!tareaEditando || (tareaEditando && tareaEditando._id !== tarea._id)">{{tarea.titulo}}</span>
      <form [formGroup]="formGroup">
        <input *ngIf="tareaEditando && tareaEditando._id === tarea._id" matInput formControlName="titulo">
      </form>
      <form class="d-flex aling-items-center" [formGroup]="formGroup"
        *ngIf="tareaEditando && tareaEditando._id === tarea._id">
        <i class='bx bx-check-circle' (click)="actualizarTarea()"></i>
        <i class='bx bx-x-circle' (click)="cancelarEdicion()"></i>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <i class='bx bx-trash' [class.dark-mode-text]="darkModeService.isDarkMode" style="cursor: pointer;"
        (click)="deleteTarea(tarea)" *ngIf="tareaEditando && tareaEditando._id === tarea._id"></i>
    </mat-card-actions>

  </mat-card>
</div>

<div class="d-flex justify-content-end">
  <i class='icono bx bx-add-to-queue' [class.dark-mode-text]="darkModeService.isDarkMode" style="cursor: pointer;"
    (click)="postTareas()"></i>
</div>