/*         INPUT DE EDITAR TAREA          */
/* FORMA DEL INPUT EDITAR */
input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  margin-right: 10px;
}

.icono-agregar{
  font-size: 20px;
  margin-right: 10px;
}

.icono-agregar:hover{
  font-size: 22px;
  margin-right: 12px;
}

/* SACA EFECTO INNECESARIO AL INPUT*/
input:focus { 
  outline:none; 
}

/* BORDE ABAJO DEL SPAN */
.bar {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

/* BORDE ABAJO DEL SPAN */
.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Ajusta el grosor de la línea según tus preferencias */
  background-color: inherit;  /* Reemplaza con el color que desees */
}

/* BOTONES ACTUALIZAR, CANCELAR Y BORRAR*/
.actualizar{
  color: rgb(0, 169, 0);
  font-size: 20px;
  margin-right: 10px;
}

.cancelar{
  color: rgb(174, 0, 0);
  font-size: 20px;
  margin-right: 10px;
}

.borrar{
  color: rgb(180, 180, 180);
  font-size: 19px;
  margin-right: 10px;
}

.actualizar:hover {
  color: rgb(0, 255, 0); /* Cambia el color al pasar el mouse */
}

.cancelar:hover {
  color: rgb(255, 0, 0); /* Cambia el color al pasar el mouse */
}

.borrar:hover {
  color: rgb(99, 99, 99); /* Cambia el color al pasar el mouse */
}

/*          COLORES DEL CHECK           */
/* VERDE */
::ng-deep .mat-mdc-checkbox.mat-verde .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~  .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(0, 203, 0);
}

::ng-deep .mat-mdc-checkbox.mat-verde .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(0, 203, 0) !important;
}

.verde-border:before {
  background-color: rgb(0, 203, 0);
}

/* AZUL */
::ng-deep .mat-mdc-checkbox.mat-azul .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(46, 49, 255);
}

::ng-deep .mat-mdc-checkbox.mat-azul .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(46, 49, 255) !important;
}

.azul-border:before {
  background-color: rgb(46, 49, 255);
}

/* ROJO */
::ng-deep .mat-mdc-checkbox.mat-rojo .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(235, 0, 0);;
}

::ng-deep .mat-mdc-checkbox.mat-rojo .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(235, 0, 0) !important;
}

.rojo-border:before {
  background-color: rgb(235, 0, 0);
}

/* VIOLETA */
::ng-deep .mat-mdc-checkbox.mat-violeta .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(185, 0, 213);
}

::ng-deep .mat-mdc-checkbox.mat-violeta .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(185, 0, 213) !important;
}

.violeta-border:before {
  background-color: rgb(185, 0, 213);
}

/* NARANJA */
::ng-deep .mat-mdc-checkbox.mat-naranja .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(250, 146, 0);
}

::ng-deep .mat-mdc-checkbox.mat-naranja .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(250, 146, 0) !important;
}

.naranja-border:before {
  background-color: rgb(250, 146, 0);
}

/* AMARILLO */
::ng-deep .mat-mdc-checkbox.mat-amarillo .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(238, 218, 0);
}

::ng-deep .mat-mdc-checkbox.mat-amarillo .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background: rgb(238, 218, 0) !important;
}

.amarillo-border:before {
  background-color: rgb(238, 218, 0);
}

/* CELESTE */
::ng-deep .mat-mdc-checkbox.mat-celeste .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background{
  border-color: transparent !important;
  background-color: rgb(0, 210, 225);
}

::ng-deep .mat-mdc-checkbox.mat-celeste .mdc-checkbox--selected ~ .mdc-checkbox__ripple{
  background:  rgb(0, 210, 225) !important;
}

.celeste-border:before {
  background-color: rgb(0, 210, 225);
}

/* COLOR DEL CHECKBOX PRESIONADO */
::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:active ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:active ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled:active ~ .mdc-checkbox__background {
  background-color: transparent !important;
}