<div class="card" [ngClass]="color">
    <div class="darksoul-window" id="notepad" [ngClass]="color">
        <div class="darksoul-menubar" [ngClass]="color">
            <div >
                <div class="menu" (click)="copy()" [ngClass]="color">Copiar</div>
            </div>
            <div>
                <div class="menu" (click)="download()" [ngClass]="color">Desc</div>
            </div>
        </div>
        <div class="darksoul-textarea">
            <textarea #textareaElement id="textarea" [ngClass]="color"></textarea>
        </div>
    </div>
</div>