/* CONTENEDOR NOTA */
.card {
    background-color: var(--color-nota);
    border: solid 2px var(--color-bordes);
}

/* CONTENEDOR TEXTAREA Y BOTONES */
.darksoul-window {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--color-nota);
}

/* MENU NOTA */
.darksoul-menubar {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--color-nota);
    align-items: center;
    border-radius: 30%;
}

/* CONTIENE TEXTAREA */
.darksoul-textarea {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

/* TEXTAREA */
textarea {
    margin: auto;
    width: 98%;
    height: 170px;
    font-size: large;
    background-color: var(--color-nota);
    border: none;
    outline: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;

}

/* BOTONES DE MENU */
.menu {
    background-color: var(--color-nota);
    border: solid 2px var(--color-detalles);
    height: 60%;
    padding: 8px;
    display: flex;
    margin-left: 1px;
    border-radius: 2px;
    margin-left: 10px;
    z-index: 10;
    font-size: 20px;
}


/* CURSOR DE LOS BOTONES*/
.menu:hover {
    cursor: pointer;
}

/*      SCROLL DEL TEXTAREA           */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--color-nota);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 10px;
    height: 10px;
    width: 5px;
}


.card:hover{
    transform: scale(1.01);
}
