/*              CONTENEDOR DE SIGNIN            */
/* BODY DEL SIGNIN */
.body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*  */
.content{
	flex: 1;
}

/*              BANNER            */
/* ANCHO DEL BANNER */
.banner {
	position: relative;
	z-index: 1;
	margin: 80px auto;
	width: 330px;
}

/* FORMA DEL BANNER */
.banner .line {
	margin: 0 0 10px;
	width: 100%;
	height: 78px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 78px;
	transform: skew(0, -15deg);
}

/* EFECTO DE ATRAS DEL BANNER */
.banner .line:after,
.banner .line:first-child:before {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1;
	display: block;
	width: 330px;
	height: 78px;
	border-radius: 4px;
	background: rgba(180,180,180,0.8);
	content: '';
	transform: skew(0, 15deg);
}

/* PARTE DE ARRIBA SOBRESALIENTE DEL BANNER */
.banner .line:first-child:before {
	top: -10px;
	right: 0;
	left: auto;
}

/* SOMBREADO DEL BANNER Y FORMA */
.banner .line:first-child:before,
.banner .line:last-child:after {
	width: 0;
	height: 0;
	border-width: 38px;
	border-style: solid;
	border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
	background: transparent;
}

/* PARTE DE ABAJO SOBRESALIENTE DEL BANNER */
.banner .line:last-child:after {
	top: 12px;
	border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

/* PAPEL PRINCIPAL DEL BANNER */
.banner span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: rgba(255,255,255,0.9);
	color: #3a3a3a;
	text-shadow: 1px 1px 0 #444;
}

/* TAMAÑO Y CURSOR DEL FOCO */
.bx-bulb{
    cursor: pointer;
    font-size: 25px;
}

/*           INICIAR SESIÓN                  */
/* ICONOS DE USUARIO Y CONTRASEÑA */
.icono{
    margin-right: 20px;
    margin-top: 3px;
    background-color: #a9abf8;
}

/* COLOR DE LOS INPUTS */
input {
    background-color: #efefff;
}

/* ESTILOS DE LOS INPUTS */
.form-controll{
    background-color: #efefff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 5px;
    border: solid 2px #000;
}

/* TAMAÑO DEL INPUT */
.form-controll input{
	display: inline;
    border: none;
    border-radius: 2px;
    padding: 10px;
    z-index: 1;
    outline: none;
	
}

/* ENCERRAR EL OJO ADENTRO DEL INPUT */
.form-controll .eyes{
	width: 25px;
    height: 25px;
    border-radius: 200px;
    display: inline-flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* BOTON DE INGRESAR */
.btn{
	background-color: #a9baf8;
	border: solid 2px #000;
}